{% extends 'base.html' %}
{% load static%}

{% block 'head' %} 
    <meta name="description" content="Denúncias">
{% endblock %}

{% block 'title' %}Denúncias{% endblock %}

{% block 'body' %}
<div class="container">
    <h1>Denúncias</h1>
    <p></p> 
    <hr style="background-color: gray;" />   
    
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdgT3PNwV4ir-u1209oelZCd99yv-55ogguOmVTbof2v7JH-w/viewform?embedded=true" style="width: 100%; height: 100%; min-height: 700px" frameborder="0" frameborder="0" marginheight="0" marginwidth="0">Carregando…</iframe>
</div>    
{% endblock %}