{% extends 'base.html' %}
{% load static%}

{% block 'head' %} 
    <meta name="description" content="Denúncias">
{% endblock %}

{% block 'title' %}Denúncias{% endblock %}

{% block 'body' %}
<div class="container">
    <h1>Denúncias</h1>
    <p></p> 
    <hr style="background-color: gray;" />   
    
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdgT3PNwV4ir-u1209oelZCd99yv-55ogguOmVTbof2v7JH-w/viewform?embedded=true" style="width: 100%; height: 100%; min-height: 700px" frameborder="0" frameborder="0" marginheight="0" marginwidth="0">Carregando…</iframe>

    https://www.nomadglobal.com/conteudos/como-denunciar-crimes-virtuais#:~:text=crime.internet%40dpf.gov,referentes%20aos%20crimes%20de%20internet
    Como denunciar crimes virtuais pela internet
De acordo com Ministério da Justiça e Segurança Pública, sobre os crimes digitais existem quatro leis distintas:

Lei 13.709/2018, a Lei Geral de Proteção de Dados
Lei 12.735/12, que diz respeito a crimes cometidos por meio de dispositivos eletrônicos
Lei 12.737/12, também conhecida como Lei Carolina Dieckmann, que qualifica atos de invasão e violação de dados
Lei 12.965/2014, o Marco Civil da Internet, que trata sobre direitos e deveres dos usuários da internet e dos meios digitais
Ao identificar um golpe é fundamental tomar providências imediatas, desde trocar as senhas e acessos até formalizar uma denúncia nos canais oficiais. É possível recorrer à delegacia comum ou ir direto a uma delegacia especializada em crimes eletrônicos se houver uma unidade próxima da sua região.

O registro do boletim de ocorrência é primordial para receber mais orientações ou dar início a um processo investigativo a fim de identificar os criminosos. É possível também comunicar e denunciar um crime virtual por e-mail ou através de sites específicos, de acordo com o incidente:  

AntiSpam.br – Orienta como denunciar o recebimento de spam
artefatos@cais.rnp.br – Centro de Atendimento a Incidentes de Segurança (CAIS), da Rede Nacional de Ensino e Pesquisa (RNP) – encaminhamento de denúncias de aplicativos suspeitos (cavalos de tróia e malwares)
crime.internet@dpf.gov.br – Divisão de Comunicação Social da Polícia Federal para receber mensagens referentes aos crimes de internet
Humanize Redes – Recebimento de denúncias sobre mensagens preconceituosas, racistas, xenófobas e que violem os Direitos Humanos
Digi Denúncias – Canal para denúncias de crimes eletrônicos do Ministério Público
Safernet – Organização não governamental que reúne especialistas para combater crimes digitais e recebe denúncias de como pornografia infantil, racismo, xenofobia e intolerância religiosa, neonazismo, apologia e Incitação a crimes contra a vida, homofobia, apologia e incitação a práticas cruéis contra animais e tráfico de pessoas
ReclameAqui.com.br – Site que informa sobre a reputação das empresas e traz informações importantes de conduta online para quem tem o hábito de fazer compras em e-commerce ou utiliza serviços pela internet
ic3.gov – Site para denunciar crimes digitais internacionais
mail-abuse@cert.br – Centro de estudos, resposta e tratamento de incidentes de segurança no Brasil (CERT) – Encaminhamento de denúncias de mensagens fraudulentas com envio de uma cópia do e-mail original
phishing@cais.rnp.br – Centro de Atendimento a Incidentes de Segurança (CAIS), da Rede Nacional de Ensino e Pesquisa (RNP) – Encaminhamento de denúncias de mensagens fraudulentas  com envio de uma cópia do e-mail original
Obs.: Para esses dois últimos canais, tanto a instituição quanto a empresa envolvidas devem ser notificadas de que tiveram seu nome usado na execução de um golpe virtual.
</div>    
{% endblock %}