{% extends 'base.html' %}
{% load static%}

{% block 'head' %} 
    <meta name="description" content="Home">
{% endblock %}

{% block 'title' %}Chat - Denúncia Suspeita de Phishing{% endblock %}

{% block 'body' %}
<div class="container">
    <h1>Seja bem-vindo ao PhishOut</h1>
    <p> Ferramenta de Conscientização no combate de fraudes virtuais (Phishing)) priorizando o público da melhor idade.</p> 
    <hr style="background-color: gray;" />    
<!-- 
    {% if messages %}
        {% for message in messages %}
        <br>
            <section class="alert {{message.tags}}">
                {{message}}
            </section>
        {% endfor %}
    {% endif %} -->

    <iframe
        src="https://udify.app/chatbot/pCKeakp2syJc7YAi" style="width: 100%; height: 100%; min-height: 700px" frameborder="0" allow="microphone">
    </iframe>
</div>    
{% endblock %}